body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
}

#game {
  background-color: #fefefe;
  border: 3px solid #333;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}
